body, h1, h2, h3, p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container__main {
  width: 1366px;
  margin: auto;
}

.slideshow__slideleft {
  animation-name: slideleft;
  animation-duration: .8s;
}

.slideshow__slideright {
  animation-name: slideright;
  animation-duration: .8s;
}

@keyframes slideleft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* STYLES FOR LOADING SPINNER */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #101010;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #101010 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

